/**
*
* Site CSS style
*
* This CSS define the look and feel of the application in the frontend.
* @link http://www.joobi.co
* @copyright Distributed under the Lesser General Public License (LGPL).
* @link http://www.gnu.org/copyleft/lesser.html
* @author Joobi Team <css.support@joobi.co>
*/


/* Bootstrap overides */
/* Panel : we add a little margin so that if we have panel into panel they dont touch each other
.panel{margin:5px;}
 */


/* MESSAGES */
#WMessage .dl-horizontal dt{width:15px;}
#WMessage .dl-horizontal dd{margin-left:35px;}
#WMessage dl{margin-bottom:0;}

/*The icon of the message*/
#WMessage .dl-horizontal dt{width:24px;}


/* Main panel */
#panelHeader{
	brackground-color:#F8F8F8;
}
#toolbarBox{
	height:75px;
}
#toolbarBox h1{
	margin:5px 0;
}
.bottomButtons{
	margin:0 20px;
}
.bottomPagi{
	height:75px;
	margin-top:-40px;
}

.nagiPadding{
padding:10px 0;
}

.headWrap{
margin:0 10px;
float:left;
}
.headVertical{
	margin-top:5px!important;
}

/* to bonify the icon on the pane */
form .panel-heading i{
float:left;
font-size: large;
margin-right:3px;
}

/* Color */
.text-gray{color:#808080;}

/* ICONS give some spacing on all icons */
i{padding: 0 4px;}

/** VIEWS LISTING **/
.page-header h1 i{padding: 0 8px;}
.page-header{border-bottom:0px!important;}
/* search highleight */
.search-highlight{
	font-weight:bold;
	font-style:italic;
	background:yellow;
}

/* ------ VIEWS ------   */
select{width:auto!important;}

/* Wizard */
#viewWizard {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 30px;
    padding-bottom: 15px;
}
#viewWizard legend i{padding: 0 8px;}

/* Form */
/* This is to float the text or icon next to the inputbox  */
/* .form-control{float:left;} WE CAN OVERWRITE THIS IT IS BOOSTRAP FILE */
.niceEditor{float:left;}
.ckEditor{float:left;}


/* Listing */
#wz_pagenb{
	width:25px !important;
}
.tableOrdering{min-width:47px;max-width:60px;}
.centerHead{text-align:center!important;}
/* Advance Search */
.filter-advsearch{
	margin-bottom:20px;
}
.advSearchFilter{
	float:left;
}
.advSearchFilter .filterName{
	font-weight:bold;
	font-style: italic; 
	color:#555555;
	margin: 0 5px;
}

/* Pagination in the ( Font-end ) */
.pagi-element{margin-top: 40px;}
.pagi-display{margin:5px 5px 0;}
.pageNb{padding:5px 3px 0;}

.filter-pagi{
margin-left: -35px;
margin-top: -38px;
padding:0px;
display: inline-flex;
}

#wz_search{
	padding: 6px 5px!important;
	width: 98%;
	display:block !important;
	min-height: 30px;
}


.pagination > li > a, .pagination > li > span{padding: 6px 8px!important;}
.searchbox {width: 30%;}


/* Center bottom pagination*/
.pagination{
	float:none!important;
}
.pagination-wrap{
	float:left;
	text-align:center;
	margin: 0px 5px -5px;
}
.panel .pagination-wrap{
	margin-top:0px;
}
.pagination-wrap .counter{
	margin:0px !important;
}

/* pagination adjustment */
#infoFilter .pagination {
float:none!important;
text-align: center!important;
margin: 20px 3px!important;
}

.filter-pagi{
padding-left:20px;
padding-right:20px;
display: inline-flex;
}

.filter-one-picklist{padding-left:5px;}

/* The menu at the bottom */
.bottomButtons{float:right;}


/* form */



/* legend of the listing page */
div.legend {
color: gray;
font-style: italic;
padding: 9px 0;
text-align: center;
}
div.legend span{
padding: 2px;
}
div.legend span i{
padding: 4px;
}



/* horizontal menu ( menu standard) */
.hint{
display: block;
width: 220px;
color: #A2A2A2;
margin: 3px 0 5px;
font-size:0.9em;
white-space: normal !important;
}
a.noLink{
cursor: default;
}
a.noLink:hover{
	color:#777!important;
}

/*Radio*/
div.radioAlign div{float:left;}
div.checkBoxMultipleSelect{display:inline-block;padding:5px 0 0 5px;border:1px solid #ccc;overflow-y:scroll;}
div.multiRadio{display:inline-flex;clear:both;}
div.multiRadio label{padding:0 5px;}
.checkBoxAlign a{
	padding-left:5px;
}

/* Picklist with checkbox */
.checkBoxAlign {
	float:left;
	margin: 0 5px;
	padding: 5px;
}
.checkBoxAlign div input, .checkBoxAlign div label{
	float: left;	
}	
.checkBoxAlign div input{
	padding-right: 5px;
}

/* Align the checkBox */
.checkBox{
	margin-top:-3px !important;
}

/* Validation erroe mesasge */
/* Error Inputbox */
span.jberror{
	color:#ff0000;
/*	position:absolute; */
	margin:7px 0 0 10px;
	font-weight:bold;
	font-size: 12px;
}


/* Panel box style */
.box{
margin-top:20px;
margin-bottom:20px;
}
.box-heading{
border-bottom:2px solid #e7e7e7;
font-size: 1.2em; 
}
.panel-title{font-size: 1.2em!important;}

.box-body{
margin-top:10px;
margin-bottom:10px;
}


/* fix for modal conflict */
a.modal {
display: inline-block;
margin:0;
position: relative;
top: auto;
left: 0px;
width: auto;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-webkit-box-shadow: 0 0 0 0;
-moz-box-shadow: 0 0 0 0;
box-shadow: 0 0 0 0;
}
/* to make sure the horizontal menu stay at the top */
a.modal{
	z-index:1 !important;
	
}
/*
div.btn-group a.modal{
	margin-right:0px !important;
}
*/

/** Modal Sign **/
.modal{overflow-y: hidden!important;}



/** APPS GENERAL CLASSS **/

/* social icons */
#siteShareButton{
	padding:3px 0;
}

#siteAuction{
	margin-top:10px;
}


/* rating */
.siteRating, .siteRating div{
	padding:2px 0;
	display: inline-flex;
}
/* for rating */
.score div{
display:inline-flex;
}

/* ask question button */
.siteQuestion{
	padding-top:7px;
}

/* captcha */
.captcha-refresh{
float:left;
padding:3px;
}
.captcha-text{
	float:left;
	padding:2px;
	margin-bottom:20px;
}
.captcha-mess{
	float:left;
	margin-top:5px;
}

.form-control, .input-group-addon{
	width:inherit !important;
}
.input-group-addon, .input-group-btn{
	width:0 !important;
}
.form_datetime input{
	float:left;
}

/* advance search list */
ul.filterValue li{
	list-style-type: none;
    margin-left: -20px;
}

/* the translation icon and for text and textreaa */
.viewBody .form-control, .viewBody .input-append textarea{
	float:left;
}

/* this is to make sure the botton default is selected 
In T3 they disabled the code for that
 */

.viewBody .btn-toggle .btn{
	background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6) !important;
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false) !important;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.viewBody .btn.active{
	background-image:none !important;
	background-color: #3276b1 !important;
	border-color: #285e8e !important;
	color:#FFF !important;
}


.dropdown-menu{
	z-index:100000 !important;
}


/* space below the tab so the text does not touch the tab */ 
.tab-pane{
padding-top: 20px;
}

/* to make sure the form element look good on all theme */
.viewBody .form-control, .add-on{
	height:auto !important;
}

/* fix the problem with joomla modal class */
.emailBtn{
	position:relative !important;
}

/* nice edit so that we can see the text */	
.nicEdit-main{
	font-size:15px;
}

/* to corect the fact that the popup is blank
conflict iwth modal class */
.contentpane{
	display:block !important;
}

.viewBody{
	display: block !important;
}

/* vendors profile */
#vendorHomePage .form-group { margin-left:0 !important; margin-right:0 !important; }

/* Margin for debug box */
#debugTrace{
	margin:30px 0;
}

/* Front-end better alignment for form element especially when custom fields  */
.form-group .col-sm-10{
	margin-top:5px;
}

/* Numeric type make it smaller */
.form-inline input[type="number"] {
    max-width: 80px;
}

/* to let the popup scroll */
.sbox-content-iframe#sbox-content{
	overflow: auto !important;
}

/* style for the sub category */
ul.subCat  li{
list-style-type: none;
margin-left: -90px;
}

/* Listing element */
span.listingName, td.listingName span{font-size:1.1em;font-weight:bold;}

/* tips aligned */	
div.tipsBelow{
	clear:both;
	padding-top: 5px;
}
div.tipsAbove{
	clear:both;
	padding-bottom: 5px;
}

/** Tooltips conflict when mouse over it disappear **/
/* admin menu correction */
#pageWrapper .hasTooltip{display:block!important;}

/* to display properly the configuraiton pane */
#configHelper .form-group{
	clear:both;
}

.btn-update{
    text-align: right;
    margin:5px 15px;
}

.btn-small{
    font-size: 12px;
    padding:4px 8px;
    line-height: 1.5;
    border-radius:4px;
    text-transform:uppercase
}

.cartModCheckout .btn-small{
    margin:0 2px;
}

.cartModCheckout .btn-small:first-child{
    margin-left:0;
}

.cartModCheckout .btn-small:last-child{
    margin-right:0;
}

.dropdown-mini{
    float: right
}

.dropdown-mini .dropdown-menu{
    left: auto;
    right: 0;
    min-width: 290px;
    border-radius: 4px;
    border-top:3px solid;
    box-shadow: none;
    padding: 0
}

.dropdown-mini a.dropdown-toggle{
    display: block;
    padding: 4px 8px;
    margin: 2px 0;
}

.dropdown-mini .dropdown-menu .overflow{
    max-height: 250px;
    overflow: hidden;
    position: relative
}

.dropdown-mini .dropdown-menu .items-scrol{
    padding:5px 0;
}
.dropdown-mini .dropdown-menu .cartmini-total-foot{
    padding:5px 15px
}

.dropdown-mini .dropdown-menu .cartmini-total-foot{
    padding-bottom: 15px;
    background: #ECF0F1
}

.dropdown-mini .dropdown-menu .cartModCheckout{
    text-align:right;
}

.dropdown-mini .dropdown-menu .cartModule{
    margin-bottom:10px;
}


.dropdown-mini .dropdown-menu .jrow{
    padding:10px 15px;
    border-bottom: 2px solid #ddd;
    position:relative
}

.dropdown-mini .dropdown-menu .jrow .cartModName a{
    font-size:13px;
    color:#333;
    transition: all 0.25s;
}

.dropdown-mini .dropdown-menu .jrow .cartModName a:hover{
    color:#449D44;
    transition: all 0.25s;
    text-decoration: none;
}
.dropdown-mini .dropdown-menu .jrow div div:not(:first-child):not(:last-child){
    display: inline-block
}

.dropdown-mini .dropdown-menu .jrow div div:last-child{
    margin-top:5px;
}

.dropdown-mini .dropdown-menu .jrow div div:last-child .cartModPrice{
    float:right
}

.dropdown-mini .dropdown-menu .jrow div div:last-child div{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

.dropdown-mini .cartModTotalWrap{
    margin:10px 0 7px;
}

.dropdown-mini .cartModTotalWrap span{
    text-transform: uppercase;
    letter-spacing: -1px
}

.dropdown-mini .img-rounded{
    border-radius: 0
}

.dropdown-mini .cartModQty input{
    width:40px;
    font-size: 12px
}

.dropdown-mini .cartModDelete{
    position:absolute;
    margin-top:0 !important;
    right: 15px;
    top:10px;
}

.dropdown-mini .cartModDelete a i.fa{
    transition: all 0.25s;
}

.dropdown-mini .cartModDelete a:hover i.fa{
    color:#ff0000
}

.dropdown-mini .cartModUnitPrice{
    margin-left: 10px;
    margin-right: 50px;
}

@media only screen and(max-width:320px){
    .dropdown-mini .dropdown-menu{
        min-width: 290px;
    }
}

.dropdown-menu .cart-empty{
    padding:10px 15px;
    color:#999
}