/* ========= BASKET AND CHECKOUT FLOW ================================================ */

.checkOutCont{
	floar:right;
}

div.alignRight{
	text-align: right;
}

div.centerColon{
	text-align:center;
	float:right;
	width:10px;
/*	padding:5px; */
}

div.underlineSpace{border-bottom: 1px solid lightgrey;line-height: 0.7em;margin-bottom: 10px;}
div#checkOutEmail{clear:both;overflow:hidden;width:290px;float:right;padding:10px 10px 40px;}
#checkOutEmail span.text.jberror{display:block;margin-left:0!important;}
.boldText{font-weight:bold;font-size:1.2em;color:#3f3f3f;}



div#checkOutCont{
	clear:both;
	font-size:12px;
	width:100%;
	float:right;
	padding:10px;
	}
.requieredText{color:#ff0101;font-style:italic;}

.checkOutTotal{
padding-bottom:25px;
}

.couponTitle{
margin-top: 10px!important;
margin-left: 0!important;
}
.couponArea{
	width:300px;
}

#couponAction{
width:200px;
}

.deleteRefresh{
padding-top: 6px;
}

a.addQty{
	text-decoration:none;
    background-color: #9E9E9E;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    height: 17px;
    line-height: 1;
    position: absolute;
    text-align: center;
    width: 17px;
    margin-left: 35px;
}

.qtyUp{
	margin-top: -35px;
}
.qtyDown{
	margin-top: -16px;
	
}

#processCreditCard{
	float:left;
}

#checkOutList{
margin-top:30px;
}

.termsConditions{
	float:right;
}
.termsConditions .checkBoxAlign .btn{
border-color:white;	
}

/* aligment of header of table */
.wzbasket_basket_checkout_fe .table th, .wzbasket_basket_placeorder .table th, .wzbasket_shipping_carrier_rate .table th{
text-align:center;
}

#giftPanel div.panel-body{
padding:15px 29px 0;
}

#noteBox{
   padding-bottom: 15px;
}



/* Checkout Wizard */
.basketTrail{
	padding:20px 0;
}

.wizard {
	text-align: center;
}
	
.wizard a {
    padding: 10px 12px 10px;  
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
    float:left;
}

.wizard a:hover {
	text-decoration:none;
}

.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #333;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #333;
}
